Chroma==0.2.0
chromadb==0.3.29
jupyter_core==5.3.1
jupyterlab-widgets==3.0.7
langchain==0.0.195
langchainplus-sdk==0.0.7
Markdown==3.3.7
nltk==3.6.5
openai==0.27.2
openapi-schema-pydantic==1.2.4
panel==1.2.0
param==1.13.0
